@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

$header: #202020;
$text:  #EDF2F4;
$background: #2B2D42;

body {
    color: $text;
    text-align: center;
    font-family: Shanti;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100vh;
    width: 100vw;
    background: $background;
    background: linear-gradient(320deg, rgba(63,66,102,1) 0%, rgba(43,45,66,1) 100%);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 75px;
    background-color: $header;
    color: $text;
    font-size: 1.6rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 1.6rem;
    margin-left: 2rem;
}