@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

$header: #202020;
$text:  #EDF2F4;
$background: #2B2D42;
$primary: #EF233C;
$foreground: #8D99AE;

/* General */

body {
    color: $text;
    text-align: center;
    font-family: Shanti;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100vh;
    width: 100vw;
    background: $background;
    background: linear-gradient(320deg, rgba(63,66,102,1) 0%, rgba(43,45,66,1) 100%);
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4.7rem;
    background-color: $header;
    color: $text;
    font-size: 1.6rem;
    z-index: -1;

    nav {
        z-index: 0;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            display: flex;
            gap: 1.6rem;
            margin-left: 2rem;
        }

        #selected {
            background-color: $primary;
            position: absolute;
            width: 4rem;
            height: 4.7rem;
            top: 0;
            left: 1rem;
            z-index: -2;
        }
    }

    select {
        color: $text;
        font-family: Shanti;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        max-width: 20rem;
        appearance: none;
        text-align-last: center;
        cursor: pointer;
    }

    option {
        color: black;
        font-size: 1rem;

        * {
            margin: 1rem;
        }
    }

    #title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
    }

    #space {
        width: 18rem;
    }
}

#today-weather {

    position: absolute;
    left: 9.25rem;
    top: 10.44rem;

    display: flex;
    width: 29.9375rem;
    justify-content: space-between;
    align-items: center;
    
    #today-weather-text {
        color: $text;
        width: 15.125rem;
        height: 17.99563rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: first baseline;

        #title {
            display: flex;
            width: 15.125rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.375rem;
    
            h1 {
                font-family: Shanti;
                font-size: 3rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
        
            }
        
            p {
                font-size: 1.5rem;
                color: $foreground;
            }
    
        }
    
        #temperature {
            font-family: Shanti;
            font-size: 6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }   
}

