@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');

$header: #202020;
$text:  #EDF2F4;
$background: #2B2D42;
$primary: #EF233C;
$foreground: #8D99AE;
$info: #49D3FF;
$warning: #FFBF00;
$danger: #A61C1C;

/*************
 * All Pages *
 *************/

body {
    color: $text;
    text-align: center;
    font-family: Shanti;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 100vh;
    width: 100vw;
    background: $background;
    background: radial-gradient(87.82% 71.17% at 61.43% 100%, #3F4266 0%, #2B2D42 100%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* Header */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 4.7rem;
    background-color: $header;
    color: $text;
    font-size: 1.6rem;
    z-index: -1;

    nav {
        z-index: 0;
        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            display: flex;
            gap: 1.6rem;
            margin-left: 2rem;

            li {
                list-style: none;
                display: flex;
                align-self: center;
                justify-content: center;
                cursor: pointer; 
            
                .tooltip {
                    position: absolute;
                    font-size: 1rem;
                    top: 5rem;
                    background-color: $header;
                    color: $text;
                    text-align: center;
                    padding: 5px 0;
                    border-radius: 0.7rem;
                    padding: 0.4rem;
                    visibility: hidden;                   
                }
            }   
            li:hover .tooltip {
                visibility: visible;

            }
        }

        #selected {
            background-color: $primary;
            position: absolute;
            width: 4rem;
            height: 4.7rem;
            top: 0;
            z-index: -2;
            left: 1rem;           
        }

        .dashboard-page {
            left: 1rem !important;
        }

        .activities-page {
            left: 4.5rem !important;
        }

        .weather-page {
            left: 8.2rem !important;
        }

        .wind-page {
            left: 11.7rem !important;
        }

        .pollution-page {
            left: 15.4rem !important;
        }

        
    }

    select {
        color: $text;
        font-family: Shanti;
        font-style: normal;
        font-weight: 400;
        line-height: normal; 
        max-width: 20rem;
        appearance: none;
        text-align-last: center;
        cursor: pointer;
    }

    option, optgroup {
        color: black;
        font-size: 1rem;

        * {
            margin: 1rem;
        }
    }

    #title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.2rem;
    }

    #space {
        width: 18rem;
    }
}

/*************
 * Dashboard *
 *************/

/* Background */

 #dashboard > svg, #activities > svg {
    position: absolute;
    right: 0;
    bottom: 0;
    scale: 100%;
    z-index: -10;
}



#dashboard {

    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    margin-top: 5.75rem;

    #today-weather {

        display: inherit;
        width: 29.9375rem;
        justify-content: space-between;
        align-items: center;
        
        #today-weather-text {
            color: $text;
            width: 15.125rem;
            height: 17.99563rem;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: first baseline;

            #title {
                display: flex;
                width: 15.125rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.375rem;
        
                h1 {
                    font-family: Shanti;
                    font-size: 3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
            
                }
            
                p {
                    font-size: 1.5rem;
                    color: $foreground;
                }
            }
        
            #temperature {
                font-family: Shanti;
                font-size: 6rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    /* Weekly Forecast */

    #forecast {
        display: flex;
        width: 64.1875rem;
        justify-content: space-between;
        align-items: center;
        opacity: 0.75;
        color: $foreground;
        
        margin-top: 2rem;
    }

    .week-item {
        display: flex;
        width: 14.875rem;
        justify-content: flex-end;
        align-items: center;
        flex-shrink: 0;

        .week-item-divider {
            width: 0.125rem;
            height: 5.6875rem;

            position: absolute;
            left: 0rem;
            top: 0.8125rem;
        }

        .week-item-content {
            display: flex;
            width: 12.75rem;
            height: 7.6875rem;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;

            svg {
                width: 7.5rem;
                height: 5.625rem;
                flex-shrink: 0;
            
            }

            .week-item-text {
                display: flex;
                width: 4.4375rem;
                height: 6.0625rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: self-start;
                text-align: left;
                flex-shrink: 0;

                h3 {
                    width: 5.0625rem;
                    height: 2.75rem;
                    flex-shrink: 0;

                    color: $text;
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                p {
                    width: 4.125rem;
                    height: 3.25rem;
                    flex-shrink: 0;

                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

/*****************
 * Activity Page *
 *****************/

 #activities {

    margin-top: 6vh;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.1875rem;

    h1 {
        color: $text;
        font-family: Shanti;
        font-size: 3rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    #card-array {
        display: flex;
        flex-direction: row;
        width: 85vw;
        height: 15rem;
        justify-content: space-between;
        align-items: flex-start;
    }

    .unavailable {
        opacity: 0.5;
    }

     .card {
        border-radius: 1.9375rem;
        background: radial-gradient(133.48% 141.42% at 100% 100%, rgba(88, 103, 129, 0.80) 0%, rgba(141, 153, 174, 0.48) 100%);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        flex-shrink: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 10vw;
        height: 15rem;

        .card-content {
            margin-top: 2.44rem;
            display: flex;
            width: 9.1875rem;
            height: 10.1875rem;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            flex-shrink: 0;

            h3 {
                color: $text;
                text-align: center;
                font-size: 1.5rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .rating {
                display: flex;
                height: 2.75rem;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                flex-shrink: 0;

                .bar {
                    width: 8.375rem;
                    height: 0.625rem;
                    flex-shrink: 0;
                    border-radius: 0.5rem;
                }

                p {
                    text-align: center;
                    font-family: Shanti;
                    font-size: 1.25rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }             
            }
            .rating-ideal {
                .bar {background: $info;}
                p {color: $info;}
            }
            .rating-poor {
                .bar {background: $warning;}
                p {color: $warning;}
            }
            .rating-danger {
                .bar {background: $danger;}
                p {color: $danger;}
            }
        }      
     }
    
     .card:not(.card:has(.rating-unavailable)):hover {
        transform: translateY(-5px) scale(1.005) translateZ(0);
        box-shadow: 0px 9px 4px 0px rgba(0, 0, 0, 0.25);
        transition: background-color 500ms linear;
      }

      .card:not(.card:has(.rating-unavailable)):active {
        transform: scale(1) translateZ(0);
      }

      .card:not(.card:has(.rating-unavailable)) {
          cursor: pointer;
      }

     #weekly-activities {
        width: 85vw;
        height: 22.375rem;
        flex-shrink: 0;
        border-radius: 2rem;
        border: 1.4px solid rgba(255, 255, 255, 0.30);
        background: radial-gradient(301.95% 171.74% at 50% 83.91%, rgba(17, 37, 72, 0.80) 0%, rgba(149, 164, 191, 0.56) 100%);
     }

 }